{% extends 'poll/base.html' %}
{% load static %}

{% block title %}
  <title>Home</title>
{% endblock %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
{% block content %}
<section id="features" class="features section">

  <div class="container">
    <div class="container section-title" data-aos="fade-up">
      <h2>Guide</h2>
      <p>How it works</p>
    </div><!-- End Section Title -->

    <div class="row gy-4">
      <div class="features-image col-lg-4 p-2 mx-2" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'images/vote_image.jpg' %}" alt=""></div>
      
            <!-- Right Steps -->
      <div class="col-lg-7">

        <!-- Step 1 -->
        <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-person-check flex-shrink-0"></i>
          <div>
            <h4>Step 1: Login</h4>
            <p>login with the your phone number that has been registered on this platform.<br>
              verify your identity using our secure registration system.</p>
          </div>
        </div><!-- End Step 1 -->

        <!-- Step 2 -->
        <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-ui-checks-grid flex-shrink-0"></i>
          <div>
            <h4>Step 2: Access poll</h4>
            <p> once Logged in, navigate to the at the Top poll to view the available Position and
               select a position</p>
          </div>
        </div><!-- End Step 2 -->

        <!-- Step 3 -->
        <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-ballot flex-shrink-0"></i>
          <div>
            <h4>Step 3: Cast Your Vote</h4>
            <p>Select your candidates and click on the vote button to submit securely</p>
          </div>
        </div><!-- End Step 3 -->

        <!-- Step 4 -->
        <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="500">
          <i class="bi bi-graph-up-arrow flex-shrink-0"></i>
          <div>
            <h4>Step 4: Get Results</h4>
            <p>Once voting ends, view real-time results with complete transparency.</p>
          </div>
        </div><!-- End Step 4 -->

      </div>
    </div>
  </div>
</section><!-- /Features Section -->

{% endblock %}

{% block script %}

{% endblock %}